@import url("./reset.css");
@import url("./icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
:root {
  font-size: 62.5%;
  --soft-orange: hsl(35, 77%, 62%);
}
* {
  box-sizing: border-box;
}
body {
  background-color: orange;
}
body * {
  line-height: calc(2px + 2ex + 2px);
  font-size: 2rem;
}
body {
  main {
    h1 {
      text-align: center;
      font-size: 5rem;
      font-weight: 600;
    }
    > :nth-child(2) {
      /*div rond de 2 fotos*/
      background-color: red;
      display: flex;
      justify-content: center;
      > :nth-child(1) {
        /*logo*/
        display: flex;
        flex-direction: column;
        aspect-ratio: 4/1;
        background-color: blue;
      }
      > :nth-child(2) {
        /*sfeerfoto naast logo*/
        background-color: teal;
        display: flex;
        flex-direction: column;
        aspect-ratio: 4/1;
      }
    }
    > :nth-child(3) {
      background-color: yellow;
      display: flex;
      justify-content: center;
    }
  }
}
