table {
  img {
    max-width: 50px;
    vertical-align: middle;
  }
  td.fit,
  th.fit {
    white-space: nowrap;
    width: 1%;
  }
}

.btn.badge {
  background-color: transparent !important;
  border: 1px solid var(--bs-secondary-color);
  color: var(--bs-secondary-color) !important;
  &:hover {
    background-color: var(--bs-secondary-color) !important;
    color: var(--bs-border-color) !important;
  }
}

.actions {
  .dropdown-item i {
    min-width: 24px;
  }
  .dropdown-toggle::before {
    display: none;
  }
}
